.verify-code-input {
  max-width: 500px;
}

.verify-code-input__container {
  display: flex;
  align-items: center;
}

.verify-code-input > * {
  margin-bottom: 0 !important;
}

.verify-code-input .form-item:not(:first-child):not(:nth-child(5)) input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.verify-code-input .form-item:not(:nth-child(3)):not(:last-child) input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.verify-code-input__spacer {
  font-size: 30px;
  margin: 0.5rem;
}

.verify-code-input__error-container {
  display: none !important;
}
